@import "../../../../theme/colors";
@import "./components/song-card/song-card.styles";

.results {
  .results__title {
    color: $primary-red;
  }

  .results__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
    overflow-y: hidden;

    max-width: 1200px;

    .song-card {
      margin-bottom: 20px;
    }
  }

  .results__loadMore {
    position: absolute;
    top: $image-size/2;
    transform: translateX(50%);
    text-align: center;

    font-weight: bold;
    cursor: pointer;
  }
}
