@import "../../../../theme/colors";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .searcher {
    width: 60%;
  }

  .header__icon {
    color: $primary-red;
    margin-right: 8px;
  }
}
