@import "../../../../../../theme/colors";

$image-size: 160px;

.song-card {
  .song-card__image-container {
    position: relative;
    width: $image-size;

    .song-card__image {
      width: $image-size;
      height: $image-size;
    }

    .song-card__menu {
      position: absolute;
      top: 8px;
      right: 8px;
      color: white;
      cursor: pointer;
    }

    .song-card__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: white;

      cursor: pointer;
    }
  }

  .song-card__details {
    cursor: pointer;
  }

  .song-card__title {
    font-size: 14px;
    font-weight: bold;
    color: #555555;
  }

  .song-card__artist {
    font-size: 12px;
    color: $gray;
  }
}
