@import "../../../theme/colors";

.button {
  width: 120px;
  height: 30px;

  border-radius: 100px;
  outline: none;
  border: 0;

  font-weight: lighter;
}

.button--primary {
  background-color: $primary-red;
  color: white;
  font-weight: 400;
}

.button--outline {
  color: white;
  font-weight: 300;
  border: 1px solid $primary-red;
  background-color: transparent;
}
